body {
  font-family: 'Gabriela', serif;
  background-color: #0d0707;
}

.hero {
  background-image: url("images/index.jpg");
  background-position: -200px -292px;
  background-size: auto;
  height: 70vh;
}


.heart {
  position:absolute;
  right: 10px;
  top: 10px;
}

.main-quote {
  padding-top: 5em;
  text-align: center;
}

.play {
  margin-right: .5em;
}

.card-body {
  position: relative;
  bottom: 1.5em;
}

h3 {
  text-align: center;
  margin-top: .5em;
}

.card {
  margin-top: 1.5em;
}

.css-live-wrap {
  position: absolute;
  left: -10px;
  right: -2px;
  bottom: 0;
}

.form-control {
  width: 25% !important;
  margin: 2em auto;
}

h1,h2,h3,h4,h5 {
  font-family: 'Black Han Sans', sans-serif;
}